.hero__bottom-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @include tablets {
    display: none;
  }
}

.hero {
  height: 100vh;
  position: relative;
  min-height: 650px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__bottom-text {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
