.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    font-weight: 700;
  }
}

.menu__item-white {
  &:hover {
    font-weight: 700;
  }
}