.skill__circle {
  width: 130px;
  height: 130px;
  fill: transparent;
  stroke: red;
  stroke-width: 4px;
}

.skills-row__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.skills-row__list {
  display: flex;
} 