.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-info__avatar {
  margin-bottom: 50px;
}

.user-info__param {
  width: 50%;
}

.user-info__val {
  width: 40%;
  font-weight: 600;
}

.user-info__content {
  width: 50%;
  margin: 0 auto;
}