script(type="text/x-template")#skills-list
  .values-section__content
    ul.skills-list
      li.skills-list__item(v-for="category in skills" :key="category.title")
        skills-row(
          :category="category"
        )

script(type="text/x-template")#skills-row
  .skills-row
    .skills-row__title {{category.title}}
    ul.skills-row__list
      li.skills-row__item(v-for="skill in category.skills" :key="skill.id")
        skill(
          :skill="skill"
        )

script(type="text/x-template")#skill
  .skill
    .skill__title {{skill.title}}
    svg(width="150"  height="150").circle.skill__circle
      circle(cx='75' cy='75' r='65' fill="transparent" stroke="#ccc").circle__icon.circle__icon--under
      circle(cx='75' cy='75' r='65' ref="circle" fill="transparent" stroke="url(#grad)" stroke-dashoffset="80%").circle__icon.circle__icon--above
      defs
        linearGradient(id='grad')
          stop(offset="0%" stop-color="#9300e8")
          stop(offset="100%" stop-color="#4a00ed")
