script(type="text/x-template")#skills-list
  .values-section__content
    -
      var items = [
        ["Frontend", ["HTML", "CSS3", "Javascript", "jQuery"]],
        ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
      ];
    ul.skills-list
      each row in items
        li.skills-list__item.skills-row
          .skills-row__title #{row[0]}
            ul.skills-row__list
              each cell in row[1]
                li.skills-row__item
                  .skill
                    .skill__title= cell
                      svg(width="150"  height="150").circle.skill__circle
                        circle(cx='75' cy='75' r='65' fill="transparent" stroke="#ccc").circle__icon.circle__icon--under
                        circle(cx='75' cy='75' r='65' fill="transparent" stroke="url(#grad)" stroke-dashoffset="80%").circle__icon.circle__icon--above
                        defs
                          linearGradient(id='grad')
                            stop(offset="0%" stop-color="#9300e8")
                            stop(offset="100%" stop-color="#4a00ed")
